<p id="notice"><%= notice %></p>

<p>
  <b>Content:</b>
  <%= @question.content %>
</p>

<p>
  <b>Survey:</b>
  <%= @question.survey_id %>
</p>

<p>
  <b>Category:</b>
  <%= @question.category %>
</p>
<p><b>Answers:</b>
    <ol class="answers">
      <% @question.answers.each do |answer| %>
        <li><%= answer.content %></li>
      <% end %>
    </ol>
</p>
<%= link_to 'Edit', edit_question_path(@question) %> |
<%= link_to 'Back', questions_path %>
